.audioIcon{
  position: absolute;
  margin-top: 50px;
}

.playIcon{
  width: 30px;
  height: 32px;
  margin-left: 20px;
}


/*
  模版
  居中
*/
.modulecenter{
  /*位置*/
  position: absolute;
  width: 50%;
  margin-left: 25%;
  /*margin-left: -25%;
  left: 50%;*/

  height: 100%;
  min-width: 220px;
  /*min-height: 300px;*/
  /* color*/
  background-color: rgb(45, 98, 103);
  color: white;
  /*font*/
  font-size: 1em;

}
.content{
  padding-left: 10px;
  padding-top: 50px;
  padding-right: 10px;
}

//缩进
p{text-indent:2em}
