@keyframes movetoleft{
  from {
  width: 100%;
  font-size: 20px;
  }
  to {
    width: 40%;
    font-size: 18px;
  }
}

/*@-ms-keyframes movetoleft{
  from {
  width: 100%;
  font-size: 20px;
  }
  to {
    width: 40%;
    font-size: 18px;
  }
}*/
.moveindex{
  animation: movetoleft 0.5s ease;
  -moz-animation: movetoleft 0.5s ease; /* firefox*/
  -webkit-animation:movetoleft 0.5s ease; /*safari and chrome*/
  -o-animation:movetoleft 0.5s ease;/*opera*/
  -ms-animation:movetoleft 0.5s ease;/* ie  */

  /*-ms-animation-duration: 4s;
  -ms-animation-timing-function: linear;
  -ms-animation-name:movetoleft;
  -ms-animation-iteration-count: infinite;*/

  animation-fill-mode: forwards;
}
